@import url('@import url('https://fonts.googleapis.com/css?family=Montserrat);

html,body{
	min-height:100%;
}


body {
	background: silver;
}

h2{
	font-family: 'Montserrat', sans-serif;';
	font-weight: 400;
}

#menu{
	position: fixed;
	bottom: 2rem;
	right:2.5rem;
}


.bg-azul{
	background:rgba(217,111,113);

}